
.col-md-12
  .selector-panel
    - @group.name
    = render '/groups/title', group: @group
    .panel.panel-default
      .panel-heading
        %h3 
          A Note On
          = @note.title
          by
          = @note.user_name
      .panel-body
        %p
          = render 'note_content'

  .row
    .col-sm-3
      =button_to "Back to group", group_path(@group), method: "get"
        